################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Dermasoft.web/UploadFile/Images/imagepath/fa9cab37-f.jpeg
